.container{
    display: flex;
}
.sidebar{
    height: 450px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    width: 20%;
    margin-right: 5px;
}
.maincontent{
    height: 450px;
    background-color:#daf6ce;
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
}
button{
    width: 100px;
    height: 30px;
    display: block;
    margin: 20px;
    font-size: 20px;
    border-radius: 5px; 
}
button:hover{
    cursor: pointer;
    box-shadow: 1px 3px black;
    transform: scale(1.05);
    transition: 0.35s;

    /* transform: scaleX(1.0); */
}